# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# KVKK Safe: Local & Production Database Files
/*.db
/*.db-journal
/*.sqlite
/*.sqlite3
/postgres_data/

# Environment Variables & Secrets
.env
.env*.local
!.env.example

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnpm-debug.log*
/logs/

# System / IDE
.DS_Store
*.pem
.vscode/
.idea/
